@import 'vars';

.employee {
  padding: $pad;

.employee > .employee-form {
  p {
    text-align: left;
    }
  }
}

.employee-item {
  padding: $pad;
  margin-top: $margin;
  box-shadow: 1px 1px $color-black;
  border-radius: 10%;
  border-top: 1px solid $color-green;
  border-left: .5px solid $color-green;
  border-left-width: 10px;
}
