{
  "globals" : {
    "rawData": true,
    "app": true,
    "Handlebars": true,
    "page": true,
    "$": true,
    "marked": true,
    "hljs": true,
    "__API_URL__": false,
    "__TITLE__": false,
    "__DEBUG__": false,
    "react": true
  },
  "extends": "eslint:recommended",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "impliedStrict": true,
      "experimentalObjectRestSpread": true,
      "module": true,
      "jsx": true
      }
  },
  "env": {
    "browser": true,
    "jquery": true,
    "node": true,
    "es6": true,
    "jest": true
  },
  "rules": {
    "react/prop-types": [0],
    "no-unused-vars": "off",
    "comma-dangle": ["error", "always-multiline"],
    "semi": ["error", "never"],
    "eqeqeq": ["error", "always"],
    "no-template-curly-in-string": "error",
    "no-console": "off",
    "no-undefined": "off",
    "indent": ["error", 2, {"SwitchCase": 1}],
    "quotes": ["warn", "single", {"allowTemplateLiterals": true}],
    "no-multi-spaces": ["warn", {"exceptions": { "VariableDeclarator": true }}],
    "no-trailing-spaces": "warn",
    "new-cap": "warn",
    "no-redeclare": ["error", { "builtinGlobals": true }]
  }
}
