@import 'vars';

.product-form {
  label {
    width: auto;
    display: inline;
  }

  input[type='checkbox'] {
    left: .75em;
    top: .25em;
  }
}
button {
  margin-top: $pad;
  background-color: $color-white;
  color: $color-black;
  width: 33%;
  font-size: 1em;
  width: 6em;
  padding: 0.2em;
  letter-spacing: 0.1em;
  border-radius: 5px;
}
