@import 'vars';

.product-item:nth-child(3n) {
  border-top: 8px solid $color-green;
}

.product-item:nth-child(3n+1) {
  border-top: 8px solid $color-pink;
}

.product-item:nth-child(3n+2) {
  border-top: 8px solid $color-purple;
}

.product-item {
  padding: $pad;
  background-color: white;
  margin-top: $margin;
  margin-right: $less-margin;
  display: inline-block;
  width: 31%;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border-left-width: 10px;
}
