@import 'vars';

.product {
  padding: $pad;

  .product-item {
    outline: 1px solid black;
    padding: $pad;
    margin-top: $margin;
  }
}

.product > .product-form {
  p {
    text-align: left;
  }
}
