@import 'vars';

html {
  position: relative;
  head,link,script { display: none; }
  body { position: relative; }
  span, em, strong, i { display: inline }
}

strong {
  font-weight: bold;
}

a, span {
  display: inline;
}

h1 {font-size: 2.5em;}
h2 {font-size: 2.25em;}
h3 {font-size: 2em;}
h4 {font-size: 1.75em;}

h1,h2,h3,h4,p,ul,form {
  margin-bottom: $less-margin;
  line-height: normal;
}

a {
  text-decoration: underline;
  font-family: georgia;
  color: $temp-color;

  &:active { color: $temp-color * 0.5; }
  &:visited { color:  $temp-color * 0.8; }
  &:hover {
    color: $temp-color;
    cursor: pointer;
  }
}
.button {
  display: inline-block !important;
  width: 15em;
  color: $color-black !important;
  text-align: center;
  text-decoration: none;
}
button, .button {
  width: auto;
  display: inline;
  padding: 0.25em;
  cursor: pointer;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  text-transform: capitalize;
  &:not(.buttonClear) {
    width: 15em;
  }
}
