@import 'vars';

html {
  position: relative;
  head,link,script { display: none; }
  body { position: relative; }
  span, em, strong, i { display: inline }
}

strong {
  font-weight: bold;
}

a, span {
  display: inline;
}

h1 {font-size: 2.5em;}
h2 {font-size: 2.25em;}
h3 {font-size: 2em;}
h4 {font-size: 1.75em;}

a {
  text-decoration: underline;
  font-family: sans-serif;
  color: $color-blue;

  &:active { color: $color-blue * 0.5; }
  &:visited { color:  $color-fuchsia * 0.8; }
  &:hover {
    color: $color-blue;
    cursor: pointer;
  }
}

button {
  width: auto;
  display: inline;
  padding: 0.25em;
  cursor: pointer;
  border: 1px solid black;
}

form {
  input {
    margin: 0 1em .5em 0;
  }

  input[type='text'] {
    border: 2px solid black;
    display: inline;
    width: 50%;
    max-width: 15em;
    padding-left: $pad;
    padding-top: .1em;
    padding-bottom: .1em;
    border-color: $color-orange;
    -webkit-transition: border-radius .25s;
    transition: border-radius .25s;
    &:focus {
      border-radius: .5em;
      border-color: $color-green;
    }
  }

  input[type='email'] {
    border: 2px solid black;
    display: inline;
    width: 50%;
    max-width: 15em;
    padding-left: $pad;
    padding-top: .1em;
    padding-bottom: .1em;
    border-color: $color-orange;
    -webkit-transition: border-radius .25s;
    transition: border-radius .25s;
    &:focus {
      border-radius: .5em;
      border-color: $color-green;
    }
  }

  input[type='password'] {
    border: 2px solid black;
    display: inline;
    width: 50%;
    max-width: 15em;
    padding-left: $pad;
    padding-top: .1em;
    padding-bottom: .1em;
    border-color: $color-orange;
    -webkit-transition: border-radius .25s;
    transition: border-radius .25s;
    &:focus {
      border-radius: .5em;
      border-color: $color-green;
    }
  }

  input[type='number'] {
    border: 2px solid black;
    width: 30%;
    max-width: 5em;
    padding-left: $pad;
    padding-top: .1em;
    padding-bottom: .1em;
    display: inline;
    border-color: $color-orange;
    -webkit-transition: border-radius .25s;
    transition: border-radius .25s;
    &:focus {
      border-radius: .5em;
      border-color: $color-green;
    }
  }

  input[type='checkbox'] {
    width: auto;
    display: inline-block;
    -webkit-appearance: none;
  	background-color: #fafafa;
  	border: 1px solid #cacece;
  	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 9px;
  	position: relative;
    &:active, :checked:active {
      box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
    }

    &:checked {
      background-color: #e9ecee;
    	border: 1px solid #adb8c0;
    	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
    	color: #99a1a7;
    }

    &:checked:after {
      content: '\2714';
    	font-size: 14px;
    	position: absolute;
    	top: 0px;
    	left: 3px;
    	color: $color-green;
    }
  }

  fieldset {
    padding: $pad;
    legend {
      font-size: 1.5em;
      font-family: $font-mouse;
      width: auto;
      text-align: center;
      border: 1px solid black;
      padding: .1em;
    }
  }
}
