@import 'vars';

html {
  height: 100%;
}

body {
  height: 100%;
}

.root {
  height: 100%;
}

main {
  height: 100%;
  width: 960px;
  margin: 0 auto;
  padding: .5em 1em;
  @media (max-width: 959px) {
    width: 100%;
  }
}
