@import url('https://fonts.googleapis.com/css?family=Vast+Shadow|Slackey|Mouse+Memoirs|Rubik');

$color-navy: #001f3f;
$color-blue: #0074d9;
$color-aqua: #7fdbff;
$color-teal: #39cccc;
$color-olive: #3d9970;
$color-green: #2ecc40;
$color-lime: #01ff70;
$color-yellow: #ffdc00;
$color-orange: #ff851b;
$color-maroon: #85144b;
$color-purple: #b10dc9;
$color-red: #ff4136;
$color-fuchsia: #f012be;
$color-black: #111111;
$color-gray: #aaaaaa;
$color-silver: #dddddd;
$color-light-gray: #FFF8F8;

$pad: 0.5em;
$margin: 1em;

$font-main: sans-serif;
$font-shadow: 'Vast Shadow', cursive;
$font-slackey: 'Slackey', cursive;
$font-mouse: 'Mouse Memoirs', sans-serif;
$font-rubik: 'Rubik', sans-serif;
