@import url('https://fonts.googleapis.com/css?family=Vast+Shadow|Slackey|Mouse+Memoirs|Rubik');

/// Key-pad colors

$color-navy: #001f3f;
$color-silver: #dddddd;
$color-light-gray: #FFF8F8;

/// Color scheme
$temp-color: #E404DA;
$color-white: #EDFFFB;
$color-green: #42FFD0;
$color-black:#05120F;
$color-purple : #440099;
$color-pink : #ff009f;

$background-color: $color-white;
$font-color: $color-black;

$pad: 0.5em;
$less-margin: .5em;
$margin: 1em;
$more-margin: 1.5em;

$font-main: sans-serif;
$font-shadow: 'Vast Shadow', cursive;
$font-slackey: 'Slackey', cursive;
$font-mouse: 'Mouse Memoirs', sans-serif;
$font-rubik: 'Rubik', sans-serif;
