@import 'vars';
header {
  width: 100%;
  color: white;
  background: $color-purple;
  display: inline-block;
  h1 {
    display: inline-block;
    width: auto;
    vertical-align: top;
    margin-top: 30px;
    margin-left: 20px;
    a {
      text-decoration: none;
    }
  }
  a {
    &.button {
      margin-top: 0;
    }
    &:visited {
      color: white;
      text-decoration: none;
      transition: color .2s;
    }
  }
  a:hover {
    color: $color-pink;
  }
  ul {
    margin-bottom: 0;
    li {
      display: inline-block;
      margin-bottom: $less-margin;
      margin-right: $less-margin;
      width: auto;
    }
  }
  button.logout-btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 100px; // margin: 3px;
    // padding: 3px;
  }
  .signingInSection {
    float: right;
    display: block;
  }
}

.logo {
  width: 100px;
  margin-left: 30px;
  display: inline-block;
}