@import 'vars';
header {
  width: 100%;
  color: white;
  background: $color-purple;
  height: 100px;
  a {
    
    &:visited {
      color: white;
      text-decoration: none;
      transition: color .2s;
    }
  }
  a:hover {
    color: $color-pink;
  }
  div {
    position: relative;
    max-width: 960px;
    margin: 0 auto;
  }
  ul {
    // float: left;
    li {
      display: inline;
    }
  }
  button.logout-btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 100px; // margin: 3px;
    // padding: 3px;
  }
  .signingInSection {
    float: right;
    display: block;
  }
}